# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Builds
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local data
/local
.claude/plan.md
.osgrep/cache/meta.lmdb
.osgrep/cache/meta.lmdb-lock
.osgrep/lancedb/chunks.lance/_indices/08c0b655-8f8f-42e9-996a-e8366684eb58/metadata.lance
.osgrep/lancedb/chunks.lance/_indices/08c0b655-8f8f-42e9-996a-e8366684eb58/part_13_docs.lance
.osgrep/lancedb/chunks.lance/_indices/08c0b655-8f8f-42e9-996a-e8366684eb58/part_13_invert.lance
.osgrep/lancedb/chunks.lance/_indices/08c0b655-8f8f-42e9-996a-e8366684eb58/part_13_tokens.lance
.osgrep/lancedb/chunks.lance/_indices/17284578-d29c-40b2-bbed-97b64b928887/metadata.lance
.osgrep/lancedb/chunks.lance/_indices/17284578-d29c-40b2-bbed-97b64b928887/part_14_docs.lance
.osgrep/lancedb/chunks.lance/_indices/17284578-d29c-40b2-bbed-97b64b928887/part_14_invert.lance
.osgrep/lancedb/chunks.lance/_indices/17284578-d29c-40b2-bbed-97b64b928887/part_14_tokens.lance
.osgrep/lancedb/chunks.lance/_indices/9baf6f87-409b-467d-a81b-fd7e04b2b047/metadata.lance
.osgrep/lancedb/chunks.lance/_indices/9baf6f87-409b-467d-a81b-fd7e04b2b047/part_14_docs.lance
.osgrep/lancedb/chunks.lance/_indices/9baf6f87-409b-467d-a81b-fd7e04b2b047/part_14_invert.lance
.osgrep/lancedb/chunks.lance/_indices/9baf6f87-409b-467d-a81b-fd7e04b2b047/part_14_tokens.lance
.osgrep/lancedb/chunks.lance/_indices/9d6ce6e5-9811-4672-a15a-58f4e15133e2/metadata.lance
.osgrep/lancedb/chunks.lance/_indices/9d6ce6e5-9811-4672-a15a-58f4e15133e2/part_14_docs.lance
.osgrep/lancedb/chunks.lance/_indices/9d6ce6e5-9811-4672-a15a-58f4e15133e2/part_14_invert.lance
.osgrep/lancedb/chunks.lance/_indices/9d6ce6e5-9811-4672-a15a-58f4e15133e2/part_14_tokens.lance
.osgrep/lancedb/chunks.lance/_indices/9e1ebbab-f30e-4445-9f7b-a8c81b6ee419/metadata.lance
.osgrep/lancedb/chunks.lance/_indices/9e1ebbab-f30e-4445-9f7b-a8c81b6ee419/part_14_docs.lance
.osgrep/lancedb/chunks.lance/_indices/9e1ebbab-f30e-4445-9f7b-a8c81b6ee419/part_14_invert.lance
.osgrep/lancedb/chunks.lance/_indices/9e1ebbab-f30e-4445-9f7b-a8c81b6ee419/part_14_tokens.lance
.osgrep/lancedb/chunks.lance/_indices/d6600445-4eb9-429e-8a46-864202127591/metadata.lance
.osgrep/lancedb/chunks.lance/_indices/d6600445-4eb9-429e-8a46-864202127591/part_13_docs.lance
.osgrep/lancedb/chunks.lance/_indices/d6600445-4eb9-429e-8a46-864202127591/part_13_invert.lance
.osgrep/lancedb/chunks.lance/_indices/d6600445-4eb9-429e-8a46-864202127591/part_13_tokens.lance
.osgrep/lancedb/chunks.lance/_indices/eeb66aca-440a-44ed-9920-718379d22b9f/metadata.lance
.osgrep/lancedb/chunks.lance/_indices/eeb66aca-440a-44ed-9920-718379d22b9f/part_14_docs.lance
.osgrep/lancedb/chunks.lance/_indices/eeb66aca-440a-44ed-9920-718379d22b9f/part_14_invert.lance
.osgrep/lancedb/chunks.lance/_indices/eeb66aca-440a-44ed-9920-718379d22b9f/part_14_tokens.lance
.osgrep/lancedb/chunks.lance/_indices/ff225e6c-acf9-47ea-a02e-9a444dfda27e/metadata.lance
.osgrep/lancedb/chunks.lance/_indices/ff225e6c-acf9-47ea-a02e-9a444dfda27e/part_11_docs.lance
.osgrep/lancedb/chunks.lance/_indices/ff225e6c-acf9-47ea-a02e-9a444dfda27e/part_11_invert.lance
.osgrep/lancedb/chunks.lance/_indices/ff225e6c-acf9-47ea-a02e-9a444dfda27e/part_11_tokens.lance
.osgrep/lancedb/chunks.lance/_transactions/0-7dced018-b403-44a6-8543-6fab70a48b5b.txn
.osgrep/lancedb/chunks.lance/_transactions/1-5b0bb9ba-414c-425e-8805-a609578f2802.txn
.osgrep/lancedb/chunks.lance/_transactions/2-e0011b7c-3b56-4703-8c66-290d5861af9e.txn
.osgrep/lancedb/chunks.lance/_transactions/3-6960fbdb-3fca-49e9-991e-278aa6e94885.txn
.osgrep/lancedb/chunks.lance/_transactions/4-2269cf96-d572-41de-8094-2dcca68631cd.txn
.osgrep/lancedb/chunks.lance/_transactions/5-ed4c2349-d53d-4b04-b192-b04d469c55ce.txn
.osgrep/lancedb/chunks.lance/_transactions/6-a786f70c-fb94-47ca-8950-65b91377dd54.txn
.osgrep/lancedb/chunks.lance/_transactions/7-8037038e-8638-4025-9cc3-79f6b2c5a4c1.txn
.osgrep/lancedb/chunks.lance/_transactions/8-1389a7a8-8dff-4cbb-a67a-074790e78120.txn
.osgrep/lancedb/chunks.lance/_transactions/9-afa2672e-50d8-446d-b051-60e15c61e332.txn
.osgrep/lancedb/chunks.lance/_transactions/10-f46d1f89-3f10-4041-b909-1cb64795f0c5.txn
.osgrep/lancedb/chunks.lance/_transactions/11-341bf631-1e07-4363-82b6-5e7757b024c0.txn
.osgrep/lancedb/chunks.lance/_transactions/12-f2edd624-a65b-46d2-bb68-b4a87282c483.txn
.osgrep/lancedb/chunks.lance/_transactions/13-e575aa3d-79b1-46fb-b52d-50ffbf3861d1.txn
.osgrep/lancedb/chunks.lance/_transactions/14-a318ddf9-7ad6-4f99-9aae-a9055d86a52a.txn
.osgrep/lancedb/chunks.lance/_transactions/15-527d799e-a6a5-4bfb-822f-e3bc3efea49a.txn
.osgrep/lancedb/chunks.lance/_transactions/16-484170fb-4c9c-4756-95e7-b4612aeec92c.txn
.osgrep/lancedb/chunks.lance/_transactions/17-89aff1f7-b30f-4983-9d26-bd36527a8c2f.txn
.osgrep/lancedb/chunks.lance/_transactions/18-ed21483f-9bdc-445a-bfa5-80dcf36e81c8.txn
.osgrep/lancedb/chunks.lance/_transactions/19-666a67c5-074e-4bd9-bf7e-84c3339f3023.txn
.osgrep/lancedb/chunks.lance/_transactions/20-7777d385-9fb5-4231-ab5d-373c2b594767.txn
.osgrep/lancedb/chunks.lance/_transactions/21-990c4500-3741-4b62-91ee-e3786314370c.txn
.osgrep/lancedb/chunks.lance/_transactions/22-aa531956-3731-43e6-8477-acbbb4ba413b.txn
.osgrep/lancedb/chunks.lance/_transactions/23-9bd5c43a-1d7e-4d45-9580-1a38a5097ffa.txn
.osgrep/lancedb/chunks.lance/_transactions/24-4a6ef740-d32f-47a8-9193-4818fc9be989.txn
.osgrep/lancedb/chunks.lance/_transactions/25-297b0dd3-7ce3-4a42-a6e2-0d58b18f4403.txn
.osgrep/lancedb/chunks.lance/_transactions/26-08674ab0-bb18-4276-9625-f6300312e54d.txn
.osgrep/lancedb/chunks.lance/_transactions/27-e9edb6db-5231-4646-bf00-c201e0cf9b3b.txn
.osgrep/lancedb/chunks.lance/_transactions/28-97568c97-307a-4db1-9159-aaa68c5f8d3a.txn
.osgrep/lancedb/chunks.lance/_transactions/29-650b1d9f-9d92-4962-b349-5748c584cf97.txn
.osgrep/lancedb/chunks.lance/_transactions/30-c7163b4e-2016-4dff-88a5-2dd01dacfda9.txn
.osgrep/lancedb/chunks.lance/_transactions/31-46bfc5c9-f3ba-4ed6-b157-c6a2a4b662b0.txn
.osgrep/lancedb/chunks.lance/_transactions/32-fd8c47de-48d8-449e-987c-6f6715ae1ca3.txn
.osgrep/lancedb/chunks.lance/_transactions/33-d89df9d7-82a8-492d-8e2c-e690e63abd2b.txn
.osgrep/lancedb/chunks.lance/_transactions/34-c6cd99a3-5bbe-4d21-85a2-75428a2c8ab7.txn
.osgrep/lancedb/chunks.lance/_transactions/35-18f5ac17-73b1-4fbe-a40d-2597ecb41542.txn
.osgrep/lancedb/chunks.lance/_transactions/36-bcb086a6-3fd1-44eb-977e-80812f477e14.txn
.osgrep/lancedb/chunks.lance/_transactions/37-8516e920-28ca-4010-9bde-298cfaa26bdf.txn
.osgrep/lancedb/chunks.lance/_transactions/38-139e4ae5-7807-486f-aa12-6b1d7a6d7936.txn
.osgrep/lancedb/chunks.lance/_transactions/39-645d4523-1798-4155-9c27-b80756d75a5a.txn
.osgrep/lancedb/chunks.lance/_transactions/40-34ff237d-e626-4094-be4b-572e8e7b3d96.txn
.osgrep/lancedb/chunks.lance/_transactions/41-89529ac8-fbad-4ec1-97f5-54fc9f5efd89.txn
.osgrep/lancedb/chunks.lance/_transactions/42-ba574eff-7b70-4db7-9da7-2255c1c6d88d.txn
.osgrep/lancedb/chunks.lance/_transactions/43-44d5394f-6da2-43e9-a015-6a21bee2ac64.txn
.osgrep/lancedb/chunks.lance/_transactions/44-de44a75f-3981-45fe-84f3-6dd40612549e.txn
.osgrep/lancedb/chunks.lance/_transactions/45-4b5b02c9-9f4d-496a-b1c7-b96fd6a8999a.txn
.osgrep/lancedb/chunks.lance/_transactions/46-8a02b2fb-3c42-4d27-bfa2-eaa673dcf745.txn
.osgrep/lancedb/chunks.lance/_transactions/47-6a85bae5-b92b-49fe-b4b9-6627b4067130.txn
.osgrep/lancedb/chunks.lance/_transactions/48-c780b7bc-d59e-4603-bd19-d5026a8b69d1.txn
.osgrep/lancedb/chunks.lance/_transactions/49-bf3f3774-2be1-4761-8a37-04638fe863f5.txn
.osgrep/lancedb/chunks.lance/_transactions/50-0f0c6be8-f886-4a87-8f2d-5fdbab2d8307.txn
.osgrep/lancedb/chunks.lance/_transactions/51-d7303306-499a-4619-bace-b6aef69ff2e9.txn
.osgrep/lancedb/chunks.lance/_transactions/52-0de231ee-d16a-4119-ba46-a37ae77ca5e5.txn
.osgrep/lancedb/chunks.lance/_transactions/53-cf0cc135-ec22-48b1-b972-765518c0c5c0.txn
.osgrep/lancedb/chunks.lance/_transactions/54-07e2c335-68f4-41da-a075-e734706f7e57.txn
.osgrep/lancedb/chunks.lance/_transactions/55-cc65cf9f-ceeb-478d-a561-9ce204866412.txn
.osgrep/lancedb/chunks.lance/_transactions/56-7c0237f1-a32e-4842-b0de-a073a2b11234.txn
.osgrep/lancedb/chunks.lance/_transactions/57-d7a81dca-2103-4f00-8470-3b6f6caff535.txn
.osgrep/lancedb/chunks.lance/_transactions/58-c1ff368d-cec1-42da-a39c-960f5b46294c.txn
.osgrep/lancedb/chunks.lance/_transactions/59-d083a0ef-c7f1-43c7-a055-b453abc53744.txn
.osgrep/lancedb/chunks.lance/_versions/1.manifest
.osgrep/lancedb/chunks.lance/_versions/2.manifest
.osgrep/lancedb/chunks.lance/_versions/3.manifest
.osgrep/lancedb/chunks.lance/_versions/4.manifest
.osgrep/lancedb/chunks.lance/_versions/5.manifest
.osgrep/lancedb/chunks.lance/_versions/6.manifest
.osgrep/lancedb/chunks.lance/_versions/7.manifest
.osgrep/lancedb/chunks.lance/_versions/8.manifest
.osgrep/lancedb/chunks.lance/_versions/9.manifest
.osgrep/lancedb/chunks.lance/_versions/10.manifest
.osgrep/lancedb/chunks.lance/_versions/11.manifest
.osgrep/lancedb/chunks.lance/_versions/12.manifest
.osgrep/lancedb/chunks.lance/_versions/13.manifest
.osgrep/lancedb/chunks.lance/_versions/14.manifest
.osgrep/lancedb/chunks.lance/_versions/15.manifest
.osgrep/lancedb/chunks.lance/_versions/16.manifest
.osgrep/lancedb/chunks.lance/_versions/17.manifest
.osgrep/lancedb/chunks.lance/_versions/18.manifest
.osgrep/lancedb/chunks.lance/_versions/19.manifest
.osgrep/lancedb/chunks.lance/_versions/20.manifest
.osgrep/lancedb/chunks.lance/_versions/21.manifest
.osgrep/lancedb/chunks.lance/_versions/22.manifest
.osgrep/lancedb/chunks.lance/_versions/23.manifest
.osgrep/lancedb/chunks.lance/_versions/24.manifest
.osgrep/lancedb/chunks.lance/_versions/25.manifest
.osgrep/lancedb/chunks.lance/_versions/26.manifest
.osgrep/lancedb/chunks.lance/_versions/27.manifest
.osgrep/lancedb/chunks.lance/_versions/28.manifest
.osgrep/lancedb/chunks.lance/_versions/29.manifest
.osgrep/lancedb/chunks.lance/_versions/30.manifest
.osgrep/lancedb/chunks.lance/_versions/31.manifest
.osgrep/lancedb/chunks.lance/_versions/32.manifest
.osgrep/lancedb/chunks.lance/_versions/33.manifest
.osgrep/lancedb/chunks.lance/_versions/34.manifest
.osgrep/lancedb/chunks.lance/_versions/35.manifest
.osgrep/lancedb/chunks.lance/_versions/36.manifest
.osgrep/lancedb/chunks.lance/_versions/37.manifest
.osgrep/lancedb/chunks.lance/_versions/38.manifest
.osgrep/lancedb/chunks.lance/_versions/39.manifest
.osgrep/lancedb/chunks.lance/_versions/40.manifest
.osgrep/lancedb/chunks.lance/_versions/41.manifest
.osgrep/lancedb/chunks.lance/_versions/42.manifest
.osgrep/lancedb/chunks.lance/_versions/43.manifest
.osgrep/lancedb/chunks.lance/_versions/44.manifest
.osgrep/lancedb/chunks.lance/_versions/45.manifest
.osgrep/lancedb/chunks.lance/_versions/46.manifest
.osgrep/lancedb/chunks.lance/_versions/47.manifest
.osgrep/lancedb/chunks.lance/_versions/48.manifest
.osgrep/lancedb/chunks.lance/_versions/49.manifest
.osgrep/lancedb/chunks.lance/_versions/50.manifest
.osgrep/lancedb/chunks.lance/_versions/51.manifest
.osgrep/lancedb/chunks.lance/_versions/52.manifest
.osgrep/lancedb/chunks.lance/_versions/53.manifest
.osgrep/lancedb/chunks.lance/_versions/54.manifest
.osgrep/lancedb/chunks.lance/_versions/55.manifest
.osgrep/lancedb/chunks.lance/_versions/56.manifest
.osgrep/lancedb/chunks.lance/_versions/57.manifest
.osgrep/lancedb/chunks.lance/_versions/58.manifest
.osgrep/lancedb/chunks.lance/_versions/59.manifest
.osgrep/lancedb/chunks.lance/_versions/60.manifest
.osgrep/lancedb/chunks.lance/data/000011001101110001110000b8acb840e2a2b1452d7fe63a99.lance
.osgrep/lancedb/chunks.lance/data/000011011101101110010000dc8e414811b6815190bf77d4c8.lance
.osgrep/lancedb/chunks.lance/data/001000100001111110011101cb9fac415fb5de5abec2d09ab3.lance
.osgrep/lancedb/chunks.lance/data/001010001001001001111001d02e0d4f7d9fd3a8bcbc814c6e.lance
.osgrep/lancedb/chunks.lance/data/00010000110001011001100030c8c440feb9a1e96f3b4a3fdc.lance
.osgrep/lancedb/chunks.lance/data/010001011010111100010101acb033482db1331953e13710ad.lance
.osgrep/lancedb/chunks.lance/data/011100000011111011010000e48d0249838b8d650dfda51e3a.lance
.osgrep/lancedb/chunks.lance/data/100001001111100111000011acb11745a1adbdb91cb70408b8.lance
.osgrep/lancedb/chunks.lance/data/100110110001100111010011fff7f14f378945f7a5ab262993.lance
.osgrep/lancedb/chunks.lance/data/100111010101100001110110eb8e4a40f48ad5f11b78bab2bd.lance
.osgrep/lancedb/chunks.lance/data/111000000111100110010111a71cf547f2910e3736085384ed.lance
.osgrep/lancedb/chunks.lance/data/111000110001101110011010ba452f4e79915d4246a1eb92b8.lance
.osgrep/lancedb/chunks.lance/data/00111001111100111011000157e5aa48d1a41fac9584e5e894.lance
.osgrep/lancedb/chunks.lance/data/1000000001000011100100112a79e64a17ad35f88a8ab0bd12.lance
.osgrep/lancedb/chunks.lance/data/1000110001000000100000118baedd42ab84d17ccbcb174a66.lance
.osgrep/lancedb/chunks.lance/data/1100011001110100101000119d39fc45c8bf776a68e38e9279.lance
.osgrep/lancedb/chunks.lance/data/1111010010110101001111108adf8d4427979943ea5ce195c4.lance
.osgrep/lancedb/chunks.lance/data/00001111011010100111000172666e473f96c2b674240542a6.lance
.osgrep/lancedb/chunks.lance/data/11101111000001001001011084af924deabf3f1fbc95d274af.lance
.osgrep/lancedb/chunks.lance/data/11101111010010101100010118b19e478aa57e29d1fb695c79.lance
.osgrep/lancedb/chunks.lance/data/011110000110110100110110608f1043b8a43a7f3ed2a877d0.lance
.osgrep/lancedb/chunks.lance/data/11111000111111011010111016c63e4c3fa7a21147809e9ff0.lance
.osgrep/lancedb/chunks.lance/data/100111110000100011000011482a534d09a94f84c48c282852.lance
.osgrep/lancedb/chunks.lance/data/1001001101110000000010112481d447578ae392586473694e.lance
.osgrep/lancedb/chunks.lance/data/1101111110110000000101007941e64129b344bd6e3300fb39.lance
.osgrep/lancedb/chunks.lance/data/11011001101000011100000035192d44a193afc85ff1d628b2.lance
